In [1]:
# Import dependencies for
import pandas as pd

In [4]:
# Import data
sector_emi_df = pd.read_csv("FOOD emi by sector.csv")  
sector_emi_df

,Country_code_A3,Name,C_group_IM24_sh,dev_country,Substance,FOOD_system_stage,Y_1990,Y_1991,Y_1992,Y_1993,...,Y_2009,Y_2010,Y_2011,Y_2012,Y_2013,Y_2014,Y_2015,Y_2016,Y_2017,Y_2018
0,AGO,Angola,10:_Southern_Africa,D,GWP_100_CO2,LULUC (Production),10273.5451,10273.5451,10273.5451,10273.5451,...,35606.0653,35605.4601,35604.1556,35604.1556,35604.1556,35602.6343,35601.0571,35597.6207,35597.6207,35592.0828
1,AGO,Angola,10:_Southern_Africa,D,GWP_100_CH4,LULUC (Production),7662.4856,7662.4856,7662.4856,7662.4856,...,6739.5328,7193.0068,6248.5080,6645.6348,5922.2156,6228.5104,6667.6736,6293.3276,7681.6264,4870.0764
2,AGO,Angola,10:_Southern_Africa,D,GWP_100_N2O,LULUC (Production),5009.7985,5009.7985,5009.7985,5009.7985,...,5869.6705,6261.4995,5445.1405,5788.2890,5163.1805,5427.7300,5807.0510,5483.2475,6682.9290,4252.8790
3,ALB,Albania,12:_Central Europe,I,GWP_100_CO2,LULUC (Production),116.8068,116.8068,116.8068,116.8068,...,116.6195,116.6195,116.6195,116.6195,116.5582,116.5582,116.4970,116.3398,116.3398,114.1346
4,ALB,Albania,12:_Central Europe,I,GWP_100_N2O,LULUC (Production),12.4815,12.4815,12.4815,12.4815,...,12.4550,12.4550,12.4550,12.4550,12.4550,12.4550,12.4550,12.4020,12.4020,12.1900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4948,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4949,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
sector_emi_df.dtypes

Country_code_A3       object
Name                  object
C_group_IM24_sh       object
dev_country           object
Substance             object
FOOD_system_stage     object
Y_1990               float64
Y_1991               float64
Y_1992               float64
Y_1993               float64
Y_1994               float64
Y_1995               float64
Y_1996               float64
Y_1997               float64
Y_1998               float64
Y_1999               float64
Y_2000               float64
Y_2001               float64
Y_2002               float64
Y_2003               float64
Y_2004               float64
Y_2005               float64
Y_2006               float64
Y_2007               float64
Y_2008               float64
Y_2009               float64
Y_2010               float64
Y_2011               float64
Y_2012               float64
Y_2013               float64
Y_2014               float64
Y_2015               float64
Y_2016               float64
Y_2017               float64
Y_2018               float64
dtype: object

In [6]:
# Find null values
for column in sector_emi_df.columns:
    print(f"Column {column} has {sector_emi_df[column].isnull().sum()} null values")

Column Country_code_A3 has 108 null values
Column Name has 108 null values
Column C_group_IM24_sh has 108 null values
Column dev_country has 108 null values
Column Substance has 108 null values
Column FOOD_system_stage has 108 null values
Column Y_1990 has 142 null values
Column Y_1991 has 139 null values
Column Y_1992 has 136 null values
Column Y_1993 has 136 null values
Column Y_1994 has 136 null values
Column Y_1995 has 131 null values
Column Y_1996 has 131 null values
Column Y_1997 has 131 null values
Column Y_1998 has 131 null values
Column Y_1999 has 131 null values
Column Y_2000 has 133 null values
Column Y_2001 has 133 null values
Column Y_2002 has 136 null values
Column Y_2003 has 133 null values
Column Y_2004 has 120 null values
Column Y_2005 has 121 null values
Column Y_2006 has 123 null values
Column Y_2007 has 121 null values
Column Y_2008 has 119 null values
Column Y_2009 has 120 null values
Column Y_2010 has 120 null values
Column Y_2011 has 121 null values
Column Y_2012 has 116 null values
Column Y_2013 has 116 null values
Column Y_2014 has 117 null values
Column Y_2015 has 121 null values
Column Y_2016 has 122 null values
Column Y_2017 has 124 null values
Column Y_2018 has 124 null values

In [7]:
# Drop the null rows
sector_emi_df = sector_emi_df.dropna()

In [8]:
sector_emi_df

,Country_code_A3,Name,C_group_IM24_sh,dev_country,Substance,FOOD_system_stage,Y_1990,Y_1991,Y_1992,Y_1993,...,Y_2009,Y_2010,Y_2011,Y_2012,Y_2013,Y_2014,Y_2015,Y_2016,Y_2017,Y_2018
0,AGO,Angola,10:_Southern_Africa,D,GWP_100_CO2,LULUC (Production),10273.545100,10273.545100,10273.545100,10273.545100,...,35606.065300,35605.460100,35604.155600,35604.155600,35604.155600,35602.634300,35601.057100,35597.620700,35597.620700,35592.082800
1,AGO,Angola,10:_Southern_Africa,D,GWP_100_CH4,LULUC (Production),7662.485600,7662.485600,7662.485600,7662.485600,...,6739.532800,7193.006800,6248.508000,6645.634800,5922.215600,6228.510400,6667.673600,6293.327600,7681.626400,4870.076400
2,AGO,Angola,10:_Southern_Africa,D,GWP_100_N2O,LULUC (Production),5009.798500,5009.798500,5009.798500,5009.798500,...,5869.670500,6261.499500,5445.140500,5788.289000,5163.180500,5427.730000,5807.051000,5483.247500,6682.929000,4252.879000
3,ALB,Albania,12:_Central Europe,I,GWP_100_CO2,LULUC (Production),116.806800,116.806800,116.806800,116.806800,...,116.619500,116.619500,116.619500,116.619500,116.558200,116.558200,116.497000,116.339800,116.339800,114.134600
4,ALB,Albania,12:_Central Europe,I,GWP_100_N2O,LULUC (Production),12.481500,12.481500,12.481500,12.481500,...,12.455000,12.455000,12.455000,12.455000,12.455000,12.455000,12.455000,12.402000,12.402000,12.190000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4840,ZWE,Zimbabwe,10:_Southern_Africa,D,GWP_100_N2O,Packaging,0.214778,0.215041,0.209498,0.143400,...,0.171438,0.373929,0.681408,0.547235,0.628316,0.639789,0.655523,0.642864,0.651403,0.775733
4841,ZWE,Zimbabwe,10:_Southern_Africa,D,GWP_100_N2O,Processing,24.795923,22.835027,18.176119,18.731785,...,24.501242,24.569475,26.194166,26.383638,26.440961,26.889480,27.527032,28.403193,29.111908,29.990585
4842,ZWE,Zimbabwe,10:_Southern_Africa,D,GWP_100_N2O,Production,3864.955764,3331.596723,3435.116805,2782.766545,...,3369.021592,3683.727259,3846.097545,3889.863795,3984.708062,3224.228525,3466.653593,3533.654855,3523.354868,3572.479803
4843,ZWE,Zimbabwe,10:_Southern_Africa,D,GWP_100_N2O,Retail,0.572693,0.634775,0.586017,0.599962,...,0.612161,0.437811,0.284533,0.245862,0.198048,0.194177,0.202131,0.178552,0.157992,0.185402
4844,ZWE,Zimbabwe,10:_Southern_Africa,D,GWP_100_N2O,Transport,4.956470,1.925272,4.201343,3.288832,...,1.741202,2.091136,3.584965,4.089382,4.545226,4.065661,4.026754,3.423886,3.493127,4.331293

In [9]:
# Confirm all NA values are gone
sector_emi_df.isnull().sum(axis = 1)

0       0
1       0
2       0
3       0
4       0
       ..
4840    0
4841    0
4842    0
4843    0
4844    0
Length: 4795, dtype: int64

In [18]:
# Change column names
sector_emi_df.rename(columns={"Country_code_A3": "Country Code", "Name": "Country", "C_group_IM24_sh": "Region", "dev_country": "Dev or Ind", "FOOD_system_stage": "Food System Stage"})

,Country Code,Country,Region,Dev or Ind,Substance,Food System Stage,Y_1990,Y_1991,Y_1992,Y_1993,...,Y_2009,Y_2010,Y_2011,Y_2012,Y_2013,Y_2014,Y_2015,Y_2016,Y_2017,Y_2018
0,AGO,Angola,10:_Southern_Africa,D,GWP_100_CO2,LULUC (Production),10273.545100,10273.545100,10273.545100,10273.545100,...,35606.065300,35605.460100,35604.155600,35604.155600,35604.155600,35602.634300,35601.057100,35597.620700,35597.620700,35592.082800
1,AGO,Angola,10:_Southern_Africa,D,GWP_100_CH4,LULUC (Production),7662.485600,7662.485600,7662.485600,7662.485600,...,6739.532800,7193.006800,6248.508000,6645.634800,5922.215600,6228.510400,6667.673600,6293.327600,7681.626400,4870.076400
2,AGO,Angola,10:_Southern_Africa,D,GWP_100_N2O,LULUC (Production),5009.798500,5009.798500,5009.798500,5009.798500,...,5869.670500,6261.499500,5445.140500,5788.289000,5163.180500,5427.730000,5807.051000,5483.247500,6682.929000,4252.879000
3,ALB,Albania,12:_Central Europe,I,GWP_100_CO2,LULUC (Production),116.806800,116.806800,116.806800,116.806800,...,116.619500,116.619500,116.619500,116.619500,116.558200,116.558200,116.497000,116.339800,116.339800,114.134600
4,ALB,Albania,12:_Central Europe,I,GWP_100_N2O,LULUC (Production),12.481500,12.481500,12.481500,12.481500,...,12.455000,12.455000,12.455000,12.455000,12.455000,12.455000,12.455000,12.402000,12.402000,12.190000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4840,ZWE,Zimbabwe,10:_Southern_Africa,D,GWP_100_N2O,Packaging,0.214778,0.215041,0.209498,0.143400,...,0.171438,0.373929,0.681408,0.547235,0.628316,0.639789,0.655523,0.642864,0.651403,0.775733
4841,ZWE,Zimbabwe,10:_Southern_Africa,D,GWP_100_N2O,Processing,24.795923,22.835027,18.176119,18.731785,...,24.501242,24.569475,26.194166,26.383638,26.440961,26.889480,27.527032,28.403193,29.111908,29.990585
4842,ZWE,Zimbabwe,10:_Southern_Africa,D,GWP_100_N2O,Production,3864.955764,3331.596723,3435.116805,2782.766545,...,3369.021592,3683.727259,3846.097545,3889.863795,3984.708062,3224.228525,3466.653593,3533.654855,3523.354868,3572.479803
4843,ZWE,Zimbabwe,10:_Southern_Africa,D,GWP_100_N2O,Retail,0.572693,0.634775,0.586017,0.599962,...,0.612161,0.437811,0.284533,0.245862,0.198048,0.194177,0.202131,0.178552,0.157992,0.185402
4844,ZWE,Zimbabwe,10:_Southern_Africa,D,GWP_100_N2O,Transport,4.956470,1.925272,4.201343,3.288832,...,1.741202,2.091136,3.584965,4.089382,4.545226,4.065661,4.026754,3.423886,3.493127,4.331293

In [19]:
# Look at info.
sector_emi_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4795 entries, 0 to 4844
Data columns (total 35 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country_code_A3    4795 non-null   object
 1   Name               4795 non-null   object
 2   C_group_IM24_sh    4795 non-null   object
 3   dev_country        4795 non-null   object
 4   Substance          4795 non-null   object
 5   FOOD_system_stage  4795 non-null   object
 6   Y_1990             4795 non-null   float64
 7   Y_1991             4795 non-null   float64
 8   Y_1992             4795 non-null   float64
 9   Y_1993             4795 non-null   float64
 10  Y_1994             4795 non-null   float64
 11  Y_1995             4795 non-null   float64
 12  Y_1996             4795 non-null   float64
 13  Y_1997             4795 non-null   float64
 14  Y_1998             4795 non-null   float64
 15  Y_1999             4795 non-null   float64
 16  Y_2000             4795 non-null   float64
 17  Y_2001             4795 non-null   float64
 18  Y_2002             4795 non-null   float64
 19  Y_2003             4795 non-null   float64
 20  Y_2004             4795 non-null   float64
 21  Y_2005             4795 non-null   float64
 22  Y_2006             4795 non-null   float64
 23  Y_2007             4795 non-null   float64
 24  Y_2008             4795 non-null   float64
 25  Y_2009             4795 non-null   float64
 26  Y_2010             4795 non-null   float64
 27  Y_2011             4795 non-null   float64
 28  Y_2012             4795 non-null   float64
 29  Y_2013             4795 non-null   float64
 30  Y_2014             4795 non-null   float64
 31  Y_2015             4795 non-null   float64
 32  Y_2016             4795 non-null   float64
 33  Y_2017             4795 non-null   float64
 34  Y_2018             4795 non-null   float64
dtypes: float64(29), object(6)
memory usage: 1.3+ MB

In [20]:
# Export to new csv
sector_emi_df.to_csv('cleaned_sector_emi_df.csv')